.wk_namespace .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wk_namespace .parentTabs {
    margin-top: 40px;
}

.wk_namespace .tab-title {
    width: 80px;
}

.wk_namespace .nav-tabs a {
    color: #666;
    font-size: 14pt;
}

.wk_namespace .badge-perfect:before {
    content: "天";
    background-color: #092;
}

.wk_namespace .badge-high:before {
    content: "上";
    background-color: #092;
}

.wk_namespace .badge-middle:before {
    content: "中";
    background-color: #f04;
}

.wk_namespace .badge-low:before {
    content: "下";
    background-color: #f04;
}

.wk_namespace .badge-marked:before {
    background-color: #fb1 !important;
}

.wk_namespace .badge-rendaku:before {
    color: darkorange !important;
}

.wk_namespace .keisei_obscure_reading {
    color: darkorange;
}

/*.wk_namespace .keisei_alternative_reading {
}
*/

.wk_namespace .keisei_main_reading {
    font-weight: bold;
}

.wk_namespace .keisei_style_reading_notInWK {
    color: darkorange !important;
}

/* #f0a -> 0c4, #dd0093 -> 092 */
.wk_namespace ul.single-character-grid li[id|=phonetic],
.wk_namespace ul.multi-character-grid li[id|=phonetic] {
    background-color: #0a2;
    background-image: linear-gradient(to bottom, #0c4, #092);
}

.wk_namespace ul.single-character-grid li[id|=nonphonetic],
.wk_namespace ul.multi-character-grid li[id|=nonphonetic] {
    background-color: #f04;
    background-image: linear-gradient(to bottom, #f04, #c04);
}

.wk_namespace .keisei_spaced_chargrid {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

.wk_namespace .keisei_phonetic_grid {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-bottom: 1px solid #d5d5d5;
}

.wk_namespace .keisei_phongrid_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 20px !important;
}

.wk_namespace .keisei_phongrid_header li.character-item {
    height: fit-content;
}

.wk_namespace .keisei_phongrid_header li.character-item {
    height: fit-content;
}

.wk_namespace .keisei_phongrid_compounds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .wk_namespace .keisei_phonetic_grid,
    .wk_namespace .keisei_spaced_chargrid {
        flex-direction: column;
    }

    .wk_namespace .keisei_phongrid_header {
        flex-direction: column;
        margin-right: 0 !important;
        margin-bottom: 6px;
    }

    .wk_namespace .keisei_phongrid_compounds {
        flex-direction: column;
    }
}

html#main .navbar .nav li.phonetic.dropdown.open > .dropdown-toggle {
    background-color: #0c4;
}

html#main .navbar .phonetic .dropdown-menu {
    background-color: #0a2;
}

html#main .navbar .nav > li.phonetic > .dropdown-menu:after {
    border-bottom: 8px solid #0a2;
}

html#main .navbar .nav > li.phonetic > a:hover > span:first-child {
    border-color: #0a2;
}

html#main .navbar .nav > li.phonetic > a:hover {
    color: #0a2;
}