/* #f0a -> 0c4, #dd0093 -> 092 */
.wk_namespace ul.single-character-grid li[id|=selfkanji]
{
    background-color:#0a2;
    background-image:-moz-linear-gradient(top, #0c4, #092);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0c4), to(#092));
    background-image:-webkit-linear-gradient(top, #0c4, #092);
    background-image:-o-linear-gradient(top, #0c4, #092);
    background-image:linear-gradient(to bottom, #0c4, #092);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00CC44', endColorstr='#FF009922', GradientType=0);
    border-top:1px solid #0c4;
    border-bottom:1px solid #092;
    border-left:1px solid #0c4
}
