 #jikan_widget
{
    padding: 4px;
    opacity: 0.5;
}

#jikan_chart
{
    background-color: lightgray;
    opacity: 0.75;
    padding: 4px 2px 0 2px;
}

#jikan_summary_txt
{
    overflow: auto;
}

#reviews-summary #jikan
{
    background-color: #fff;
    box-shadow: 3px 3px 0 #e1e1e1;
}

#reviews-summary #jikan h2
{
    background-color: #0af;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

#reviews-summary #jikan h2
{
    padding: 20px;
}

#reviews-summary #jikan > div
{
    padding: 0 20px;
}

#reviews-summary #jikan h2 strong:before
{
    margin-left: 0.75em;
    margin-right: 0.2em;
}

@media (max-width: 767px)
{
    #jikan_widget
    {
        font-size: 11px;
        top: 22px;
        left: 11px;

        padding: 2px;
    }

    #reviews-summary #jikan h2
    {
        padding: 10px;
    }
    #reviews-summary #jikan > div
    {
        padding: 10px;
    }
}

.wk_namespace .draggable-move
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wk_namespace .xaxis,
.wk_namespace .yaxis {
	font: 12px sans-serif;
}

.wk_namespace .xaxis path,
.wk_namespace .yaxis path,
.wk_namespace .xaxis line,
.wk_namespace .yaxis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.wk_namespace .data-bar.rad {
    stroke: white;
    fill: #a0f;
}

.wk_namespace .data-bar.rad:hover {
    fill: #c655ff;
}
.wk_namespace .data-bar.kan {
    stroke: white;
    fill: #0093dd;
}

.wk_namespace .data-bar.kan:hover {
    fill: #00a1f1;
}
.wk_namespace .data-bar.voc {
    stroke: white;
    fill: #a0f;
}

.wk_namespace .data-bar.voc:hover {
    fill: #c655ff;
}

.wk_namespace .capitalize {
    text-transform: capitalize;
}

/* The tooltips are appended to the end of the bbody, add your namespace there! */

.wk_namespace.d3-tip {
    line-height: 1;
    font: 14px sans-serif;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.wk_namespace.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.wk_namespace.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.wk_namespace .svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 10px !important; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.wk_namespace .svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
}

.fill {
    fill: #F2F4F6;
}
