#jikan_widget
{
    padding: 4px;
    opacity: 0.5;
}

#reviews-summary #jikan
{
    background-color: #fff;
    box-shadow: 3px 3px 0 #e1e1e1;
}

#reviews-summary #jikan h2
{
    background-color: #0af;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

#reviews-summary #jikan h2
{
    padding: 20px;
}

#reviews-summary #jikan > div
{
    padding: 20px;
}

#reviews-summary #jikan h2 strong:before
{
    margin-left: 0.75em;
    margin-right: 0.2em;
}

@media (max-width: 767px)
{
    #jikan_widget
    {
        font-size: 11px;
        top: 22px;
        left: 11px;

        padding: 2px;
    }

    #reviews-summary #jikan h2
    {
        padding: 10px;
    }
    #reviews-summary #jikan > div
    {
        padding: 10px;
    }
}

.draggable-move
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
