#jikan_widget
{
    padding: 4px;
    opacity: 0.5;
}

#reviews-summary #jikan
{
    background-color: #fff;
    box-shadow: 3px 3px 0 #e1e1e1;
}

#reviews-summary #jikan h2
{
    background-color: #0af;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

#reviews-summary #jikan h2
{
    padding: 20px;
}

#reviews-summary #jikan > div
{
    padding: 0 20px;
}

#reviews-summary #jikan h2 strong:before
{
    margin-left: 0.75em;
    margin-right: 0.2em;
}

@media (max-width: 767px)
{
    #jikan_widget
    {
        font-size: 11px;
        top: 22px;
        left: 11px;

        padding: 2px;
    }

    #reviews-summary #jikan h2
    {
        padding: 10px;
    }
    #reviews-summary #jikan > div
    {
        padding: 10px;
    }
}

.draggable-move
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.axis {
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.chart rect {
    stroke: white;
    fill: steelblue;
}

.chart rect:hover {
    stroke: white;
    fill: lightblue;
}

.d3-tip {
    line-height: 1;
    font: 14px sans-serif;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 10px !important; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
}
